.about {
    padding: 92px 0;
    background-image:linear-gradient(
                #222222 0%,
                #222222 50%,
                #F0F4F4 50%,
                #F0F4F4 100%);
}

.about__bg {
    position: relative;
    min-height: 56vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../img/redbg.svg');
}

.about__bg::before,
.about__bg::after {
    content: '';
    position: absolute;
    background: url('../img/tire.svg') center/contain no-repeat;
    pointer-events: none;
    height: 25vw;
    left: 0;
    right: 0;
}

.about__bg::before {
    top: 0;
    transform: translateY(-25%);
}

.about__bg::after {
    bottom: 0;
    transform: translateY(25%);
}

.about__title {

}

.about__text {}